body {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.042px;
}

a {
    text-decoration: none;
}



h1 {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 127.273% */
    letter-spacing: 0.066px;
}

h2 {
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 126.316% */
    letter-spacing: 0.057px;
}


.text {
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.042px;
}


.text-center {
    text-align: center;
}


.button_green {
    border-radius: 4px;
    border: 1px solid var(--primary-1, #0fa6ab);
    background: var(--primary-1, #0fa6ab);
    color: $color-white;
    text-decoration: none;
    padding: 12px 14px;
    box-sizing: border-box;
}


.button_transparent{

    border-radius: 4px;
    border: 1px solid rgba(78, 90, 109, 0.24);
    color: $color-black;
    text-decoration: none;
    padding: 12px 14px;
}