body {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.042px;
}

a {
    text-decoration: none;
}

h2 {
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 126.316% */
    letter-spacing: 0.057px;
}


.text {
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.042px;
}