// Typography
$font-family: "Roboto";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$color-white: #fff;
$color-black: #000;
$color-grey: #edeff2;
$color-grey-input: #9a9d9d;
$color-tiffany: var(--primary-1, #0fa6ab);
$color-text-footer: #A5BABB;
$color-light-tiffany: #E7F9F7;