.right-subcontainer {
    display: flex;
    padding: 32px;
    flex-direction: column;

    align-items: center;
    align-self: stretch;


    .right-subcontainer-wrapper{
        padding: 32px;
        background: $color-white;
        border-radius: 8px;
    }

    .card {

        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #CDEA1A;
        
       

        &__image {
            background: url("http://localhost:5173/resources/images/book.png")  lightgray 50%  / 100% 100%;
            width: 146px;
            height: 220px;
            position: relative;
        }

        .card-text {
            text-align: center;
            line-height: 16px; /* 133.333% */
            letter-spacing: 0.036px;
        }

        .card-text_grey {
            color: $color-text-grey; 
        }

        .card-text_grey span {
            color: $color-tiffany;
            margin-right: 4px;
            
        }



        &__image::after {
            content: "Книга дня";
            position: absolute;
            top: 25px;
        }

        &__image::before {
            content: url("http://localhost:5173/resources/images/rectangle-book.svg");
            position:absolute;
            top: 23px;
        }
        
    }

    
}